<h2>Polls</h2>

<% @polls.each do |poll| %>
  
  <h3><%= link_to "#{poll.title}", poll_path(poll) %>
  <span class="label label-primary"><%= poll.created_at.to_date == Date.today ? 'New' : '' %></span>
  </h3>
  <p><b>Body:</b> <%= truncate(poll.body, length: 200, separator: ' ') %></p>
  <p><b>Start:</b> <%= poll.start.to_formatted_s(:long_ordinal) %></p>
  <p><b>Finish:</b> <%= poll.finish.to_formatted_s(:long_ordinal) %></p>
   
  <p><b>User:</b> <%= poll.user_id %></p>
  
  <p><b>Options:</b></p>
  <% poll.options.each_with_index do |option, index| %>
    <p>Opt. <%= index + 1 %>: <b><%= option.poll_option %></b>
  <% end %>

  <p><b>Poll Status:</b> <%= show_poll_status(poll) %></p>

<% end %>