<%= simple_form_for(@poll) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: 'Title', autocomplete: "off", placeholder: "Add your question here" %> 
  <%= f.input :body, label: 'Body', autocomplete: "off", placeholder: "Add your description here", 
  :input_html => {rows: 7} %>
  <%= f.input :start, start_year: Time.now.year, 
  order: [:day, :month, :year, :hour, :minute], minute_step: 30 %>
  <%= f.input :finish, start_year: Time.now.year, 
  order: [:day, :month, :year, :hour, :minute], minute_step: 30 %>
  
  <% @poll.poll_type.blank? ? poll_type = 'radio' : poll_type = @poll.poll_type %>
  <%= f.input :poll_type, as: :select, collection: 
              [['RadioButtons', 'radio'], ['Multiply CheckBoxes', 'check_box']], selected: "#{poll_type}" %>

  <p><b>Options (min. 2):</b></p>
  <div id="options">
    <%= f.simple_fields_for :options do |ff| %>
      <%= render 'option_fields', f: ff %>
    <% end %> 
    <div class="links">
      <%= link_to_add_association 'Add option', f, :options, type: 'button', class: 'btn btn-primary' %>
    </div>
  </div>
    <p><i>Remember! You have 15 minutes after creating to edit the poll.</i></p>
  <div class="form-actions">
    <%= f.submit "Save Poll", class: "btn btn-lg btn-success" %>
  </div>
<% end %>
<br>