<h2>News</h2>

<% @posts.each do |post| %>
    
    <h3><%= link_to "#{post.title}", post_path(post) %> 
    <span class="label label-primary"><%= 'New' if post.created_at.to_date == Date.today %></span>
    </h3>

    <p><b>Body:</b> <%= truncate(post.body, length: 200, separator: ' ') %></p>
    <p><b>User:</b> <%= post.user_id %></p>   
    <p><b>Commentable:</b> <%= post.commentable %></p>
    <% if post.commentable == true %>
    	<p><b>Comments total:</b> <span class="badge"><%= post.comment_threads.count %></span></p>
  	<% end %>

<% end %>