<h1>EDIT PROFILE</h1>

<%= simple_form_for @profile, url: profile_path do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :middle_name %>
      <%= f.input :phone %>
      <%= f.input :avatar %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>